* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: linear-gradient(rgb(0, 68, 83), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    border-color: #ccc;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 68, 83));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 900px;
    color: #f0f0f0;
    font-size: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    background-color: #2d2d2da2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #f0f0f0;
}

button {
    box-shadow: 0 2px 9px rgb(0, 68, 83);
    width: 90%;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;

}

#resultados{
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 550px;
    height: 250px;
    color: white;
    font-size: 22px;
}
